{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}

	{# Container du formulaire d'inscription  #}
	<div class="container mt-5">

		<div class="row">

			<div class="col-md-6 offset-md-3 style-form-register">

				<h1 class="text-center h1-inscription">Inscription</h1>

			</div>
		</div>

		{# Formulaire d'inscripton #}
		<div class="row">
			<div
				class="col-12 col-md-6 mx-auto style-form-register ">

				{# Ouverture du formulaire #}
				{{ form_start( registrationForm ) }}

				{# Affichage des erreur générales du formulaire #}
				{{ form_errors( registrationForm ) }}

				{# Champ email #}
				{{ form_row( registrationForm.email ) }}

				{# Champ pseudo #}
				{{ form_row( registrationForm.pseudonym ) }}


				{# Champ mots de passe  #}
				{{ form_row( registrationForm.plainPassword ) }}

				{#        #}
				{# Affichage du cpatcha #}
				{#        <div class="mb-3">#}
				{#            <div class="mb-2">Captcha de sécurit</div>#}

				{#            <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}"></div>#}
				{#        </div>#}

				{# Bouton de validation #}
				{{ form_row( registrationForm.save ) }}

				{# Fermeture du formulaire  #}
			{{ form_end( registrationForm ) }}
		</div>
	</div>
</div>{% endblock %}
