{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}

	{# Container du formulaire d'inscription  #}
	<div class=" register-form-block container mt-5 col-10">

		<div class="row">

			<div class="col-md-6 offset-md-3 style-form-register">

				<h1 class="text-center h1-inscription">Inscription</h1>

			</div>
		</div>

		{# Formulaire d'inscripton #}
		<div
			class="row">

			{# Ouverture du formulaire #}
			{{ form_start( registrationForm ) }}

			{# Affichage des erreur générales du formulaire #}
			{{ form_errors( registrationForm ) }}

			<div
				class="col-12 col-md-6 mx-auto style-form-register">
				{# Champ email #}
				{{ form_row( registrationForm.email ) }}
			</div>

			<div
				class="col-12 col-md-6 mx-auto style-form-register">
				{# Champ pseudo #}
				{{ form_row( registrationForm.pseudonym ) }}
			</div>


			<div
				class="col-12 col-md-6 mx-auto style-form-register">
				{# Champ mots de passe  #}
				{{ form_row( registrationForm.plainPassword ) }}
			</div>


			{# Affichage du captcha avec la clé publique récupérée directement grâce à la passerelle faite dans twig.yaml #}
			<div class="mb-3">
				<div style="color: white" class="mb-2"></div>

				<div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}"></div>
			</div>


			<div class="text-center mx-auto register-button"> 
			
				<div class="second-border-register">

					<img src="{{ asset('images/PokeBall.png') }}" alt="Poke Ball">

					<button type="submit" class="register-button-valid d-block btn">S'inscrire</button>

					<i class="fa-solid fa-chevron-right"></i>

				</div>


			</div>


			{# Fermeture du formulaire  #}
			{{ form_end( registrationForm ) }}
		</div>
	</div>
{% endblock %}


{% block css %}
	{# Insertion du fichier JS dans le block stylesheets, ce n'est pas une erreur, la documentation de Recaptcha préconise en effet d'intégrer ce fichier JS dans le head #}
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
