{# Utilisation du squelette de page base.html.twig #}
{% extends "base.html.twig" %}

{# Titre de la page #}
{% block title %}A propos
{% endblock %}

{# Contenu de la page #}
{% block body %}

<div class="container-fluid"></div>

	<h1 class="mx-auto mt-5" style="color: white; font-size: 3rem;">À propos</h1>

    <div class="presentation">

        <div class="yann fade-up col-12 col-lg-4">
            <img class="perso-1" src="{{ asset('images/Yann.png') }}" alt="Yann">
            <img class="poke-perso-1" src="{{ asset('images/poke-perso/386-attack.gif') }}" alt="Deoxys">


            <h3>The Captchka Engineer</h3>

            <p class="col-4">Salut moi c'est Yann ! Mon tempérament colérique me met souvent des bâtons dans les roues, mais j'ai toutes les qualités pour devenir un excellent dev !</p>

        </div>

        <div class="louis fade-up col-12 col-lg-4">
        
            <img class="perso-2" src="{{ asset('images/Louis.png') }}" alt="Louis">
            <img class="poke-perso-2" src="{{ asset('images/poke-perso/384.gif') }}" alt="Rayquaza">
            <h3>Lead Project</h3>

            <p class="col-4">Bonjour, moi c'est Louis, je ne suis pas le plus experiménté, mais j'applique ma détermination et mon leadership pour emmener mon groupe à la victoire ! </p>

        </div>

        <div class="bastien fade-up col-12 col-lg-4">
            <img class="perso-3" src="{{ asset('images/Bastien.png') }}" alt="Bastien">
            <img class="poke-perso-3" src="{{ asset('images/poke-perso/555.gif') }}" alt="Monke">

            <h3>Pokemon Master</h3>

            <p class="col-4">Moi c'est Bastien ! Râleur invétéré, je suis également le plus doué de l'équipe en terme de dev (ce qui me rend particulièrement arrogant, mais diablement efficace !)</p>

        </div>

        

    </div>
{% endblock %}