{% extends 'base.html.twig' %}

{% block title %}Libération{% endblock %}

{% block body %}

    <div class="capture-effect">
        <!--Affichage du pokémon capturé-->
        <div class="container-fluid container-view">

            <div class="row">
                <div class="col-12 col-lg-10 mx-auto rarity-scale">
                    <p>
                        À ce jour, <span>{{ totalPokemon }}</span> Pokémons ont été libérés dans le monde !<br>

                        <span>(C)</span> = Commun ≈ 45%  <span>(PC)</span> = Peu Commun ≈ 30%  <span>(R)</span> = Rare ≈ 15% <br> <span>(TR)</span> = Très Rare ≈ 8.5%
                        <img src="{{ asset('/images/sparkle/etoiles-tres-rare.png') }}" alt="Pokemon tres rare">   <span>(EX)</span> = Extrêmement Rare ≈ 1%
                        <img src="{{ asset('/images/sparkle/etoiles-extremement-rare.png') }}" alt="Pokemon extrêmement rare">   <span>(SR)</span> = Secret Rare ≈ ???
                        <img src="{{ asset('/images/sparkle/etoiles-secret-rare.png') }}" alt="Pokemon Secret Rare"> <span>Shiny</span> ≈ ???
                        <img src="{{ asset('/images/sparkle/etoiles-shiny.png') }}" alt="Rareté shiny">
                    </p>
                </div>


                <div class="col-12 col-lg-10 mx-auto view-pokemon forest2-background">
                </div>
                
            </div>



        </div>

{#        Nombre de pièces #}

        <!--Bouton de capture-->
        <div class="mx-auto capture-ball text-center">

            <div id="carouselExample" class="carousel carousel-ball slide">

                <div class="carousel-inner carou-ball">


                    <div class="carousel-item justify-content-center active">
                        <button class="capture-poke-button" data-ball="1">
                            <img src="{{ asset('images/poke-capture.png') }}" class="pokeball-animate too-big" alt="..." >
                        </button>
                        <br>
                        <img class="multiple" src="{{ asset('images/multiple.png') }}" alt="nombre de lancer">
                        <div class="launch-items launch-1">
                            {{ app.user.launchs}}
                        </div>

                    </div>


                    <div class="carousel-item justify-content-center">
                        <button class="capture-poke-button" data-ball="2">
                            <img src="{{ asset('images/balls/hyper_ball.png') }}" class="pokeball-animate" alt="..." >
                        </button>
                        <br>
                        <img class="multiple" src="{{ asset('images/multiple.png') }}" alt="nombre de lancer">
                        <div class="launch-items launch-2">
                            {{ app.user.hyperBall}}
                        </div>

                    </div>


                    <div class="carousel-item justify-content-center">
                        <button class="capture-poke-button" data-ball="3">
                            <img src="{{ asset('images/balls/shiny_ball.png') }}" class="pokeball-animate" alt="..." >
                        </button>
                        <br>
                        <img class="multiple" src="{{ asset('images/multiple.png') }}" alt="nombre de lancer">
                        <div class="launch-items launch-3">
                            {{ app.user.shinyBall}}
                        </div>

                    </div>


                    <div class="carousel-item justify-content-center">
                        <button class="capture-poke-button" data-ball="4">
                            <img src="{{ asset('images/balls/master_ball.png') }}" class="pokeball-animate" alt="..." >
                        </button>
                        <br>
                        <img class="multiple" src="{{ asset('images/multiple.png') }}" alt="nombre de lancer">
                        <div class="launch-items launch-4">
                            {{ app.user.masterBall}}
                        </div>

                    </div>



                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

    </div>

    <div class="description-poke-capture my-auto mx-auto col-12 col-lg-4">



    </div>


{#    Shop #}

    <div class="shop">

        <h2 class="text-center shop-title text-white">Boutique</h2>

        <div class="coin-container text-end">
            <img class="coin-width-2" src="{{ asset('images/real-coin.png') }}" alt="">

            <p class="text-center coin-count"> {{ app.user.money }}</p>

        </div>

        <div class="mini-shop">

            <table class="text-center shop-table">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Descr</th>
                        <th scope="col"></th>
                        <th scope="col">Qte</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="shop-list">

                {% for item in items %}

                    <tr>
                        <td class="item-name">{{ item.name }}</td>
                        <td class="price price-{{ loop.index }}">{{ item.price }}<img class="coin-width" src="{{ asset('images/real-coin.png') }}" alt=""></td>
                        <td>{{ item.description }}</td>
                        <td><button class="minus minus-{{ loop.index }}">-</button></td>
                        <td class="quantity quantity-{{ loop.index }}">0</td>
                        <td><button class="plus plus-{{ loop.index }}">+</button></td>
                    </tr>

                {% endfor %}

                </tbody>
                <tfoot class="text-start">
                    <tr>
                        <td colspan="4">Total :</td>
                        <td class="text-center total_shop">0</td>
                    </tr>
                </tfoot>
            </table>
            <br>
            <div class="text-center">
                <button class="text-center buy-it">Acheter</button>
            </div>
        </div>

    </div>





{% endblock %}



{% block js %}

    <script>
        const capturedPageApi = '{{ url('app_capture_api') }}';
        const capturedShopApi = '{{ url('app_shop_api') }}';
        const pokemonsGifDir = '{{ asset('images/gifs') }}';
        const pokemonsShineDir = '{{ asset('images/sparkle') }}';
        const pokemonUppercase = '{{ ''|capitalize }}';
        const launchCounter = '{{ app.user.launchs}}';
        const newLogo = '{{ asset('images/sparkle/new3.png') }}';
        const coin = '{{ asset('images/real-coin.png') }}';
        window.pokemonBackground = 'forest2-background';
    </script>
    <script src="{{ asset('js/capture.js') }}"></script>

{% endblock %}
