{% extends 'base.html.twig' %}

{% block title %}Libération{% endblock %}

{% block body %}

    <div class="capture-effect">
        <!--Affichage du pokémon capturé-->
        <div class="container-fluid container-view">

            <div class="row">
                <div class="col-12 col-lg-10 mx-auto rarity-scale">
                    <p>
                        À ce jour, <span>{{ totalPokemon }}</span> ont été libérés dans le monde !<br>

                        <span>(C)</span> = Commun ≈ 45%  <span>(PC)</span> = Peu Commun ≈ 30%  <span>(R)</span> = Rare ≈ 15% <br> <span>(TR)</span> = Très Rare ≈ 8.5%
                        <img src="{{ asset('/images/sparkle/etoiles-tres-rare.png') }}" alt="Pokemon tres rare">   <span>(EX)</span> = Extrêmement Rare ≈ 1%
                        <img src="{{ asset('/images/sparkle/etoiles-extremement-rare.png') }}" alt="Pokemon extrêmement rare">   <span>(SR)</span> = Secret Rare ≈ ???
                        <img src="{{ asset('/images/sparkle/etoiles-secret-rare.png') }}" alt="Pokemon Secret Rare"> <span>Shiny</span> ≈ ???
                        <img src="{{ asset('/images/sparkle/etoiles-shiny.png') }}" alt="Rareté shiny">
                    </p>
                </div>


                <div class="col-12 col-lg-10 mx-auto view-pokemon">
                </div>
                
            </div>



        </div>

        <!--Bouton de capture-->
        <div class="mx-auto capture-ball text-center">
            <button class="capture-poke-button">
                <img class="pokeball-animate" src="{{ asset('images/poke-capture.png') }}" alt="Pokeball, go!">
            </button>
            <br>
            <img class="multiple" src="{{ asset('images/multiple.png') }}" alt="nombre de lancer">
            <div class="launch-items">
                {{ app.user.launchs}}
            </div>
        </div>
    </div>


    <div class="description-poke-capture my-auto mx-auto col-12 col-lg-4">



    </div>





{% endblock %}



{% block js %}

    <script>
        const capturedPageApi = '{{ url('app_capture_api') }}';
        const pokemonsGifDir = '{{ asset('images/gifs') }}';
        const pokemonsShineDir = '{{ asset('images/sparkle') }}';
        const pokemonUppercase = '{{ ''|capitalize }}';
        const launchCounter = '{{ app.user.launchs}}';
    </script>
    <script src="{{ asset('js/capture.js') }}"></script>

{% endblock %}
