{% extends 'base.html.twig' %}

{% block title %}Capture{% endblock %}

{% block body %}

    <div class="capture-effect">
        <!--Affichage du pokémon capturé-->
        <div class="container-fluid container-view">

            <div class="row">
                <div class="col-12 col-lg-10 mx-auto rarity-scale">
                    <p><span>(C)</span> = Commun ≈ 40% / <span>(PC)</span> = Peu Commun ≈ 25% / <span>(R)</span> = Rare ≈ 20% /<br> <span>(TR)</span> = Très Rare ≈ 10% / <span>(EX)</span> = Extrêmement Rare ≈ 5% / <span>(SR)</span> = Secret Rare ≈ ??? / <span>Shiny</span> ≈ ???</p>
                </div>
                <div class="col-12 col-lg-10 mx-auto view-pokemon">



                </div>
            </div>



        </div>

        <!--Bouton de capture-->
        <div class="mx-auto capture-ball text-center">
            <button class="capture-poke-button">
                <img class="pokeball-animate" src="{{ asset('images/poke-capture.png') }}" alt="Pokeball, go!">
            </button>
            <img class="multiple" src="{{ asset('images/multiple.png') }}" alt="nombre de lancer">

            {{ app.user.launchs }}

        </div>
    </div>


    <div class="description-poke-capture my-auto mx-auto col-12 col-lg-4">



    </div>





{% endblock %}



{% block js %}

    <script>
        const capturedPageApi = '{{ url('app_capture_api') }}';
        const pokemonsGifDir = '{{ asset('images/gifs') }}';
        const pokemonsShineDir = '{{ asset('images/sparkle') }}';
        const pokemonUppercase = '{{ ''|capitalize }}';
    </script>
    <script src="{{ asset('js/script.js') }}"></script>

{% endblock %}
