{% extends 'base.html.twig' %}

{% block title %}Pokédex
{% endblock %}

{% block body %}

	{# Container principal  #}
	<div
		class="main-block">

		{# Container bouton précédent et suivant en mobile first, container de la liste en écran large  #}
		<div class="poke-list container-fluid col-lg-4">

			<div
				class="list row">


				{# Bouton "Pokémon précédent" visible seulement en mobile first  #}
				<button class="previous-next-buttons col-6">

					<p>
						<i class="fa-solid fa-chevron-left left-arrow"></i>Pokémon précédent</p>

				</button>

				{# Titre h1 seulement visible en écran large, au-dessus de la liste  #}
				<h1 class="consult">Consultez le Pokédex</h1>

				{# Boutons de flèche du haut, seulement visible en écran large  #}
				<button class="arrows col-6">

				

					{% if pokemonBefore is not null %}

						<a href="{{ path('app_pokedex', { pokeId : (pokemonBefore.pokeId) }) }}">

							<i class="fa-solid fa-chevron-up"></i>

						</a>

					{% else %}

						<a><i class="fa-solid fa-chevron-up"></i>

					{% endif %}

					

				</button>

				{# Div qui contient la liste des Pokémon affichés en écran large  #}
				<div class="ul-list pokedex-nav">

					<ul>
						

						{% for pokemon in pokemons %}

							<li {{ (currentPokemon == pokemon) ? 'data-current="true"' }} id="poke-{{ pokemon.pokeId }}">
								<a disabled class="list-a" href="{{ path('app_pokedex', { pokeId : (pokemon.pokeId) }) }}">{{ pokemon.name|capitalize }} #{{ pokemon.pokeId }}</a>
							</li>

						{% endfor %}
					
					</ul>

				</div>

				{# Bouton de flèche du bas, seulement visible en écran large  #}
				<button class="arrows col-6">

					<a href="{{ path('app_pokedex', { pokeId : (pokemonAfter.pokeId) }) }}">

						<i class="fa-solid fa-chevron-down"></i>

					</a>

				</button>

				{# Bouton "Pokémon suivant" visible seulement en mobile first  #}
				<button class="previous-next-buttons col-6">

					<p>Pokémon suivant<i class="fa-solid fa-chevron-right"></i>
					</p>

				</button>

			</div>

		</div>

		{# Div qui englobe toutes les infos du Pokédex (infos du pokémon, son image, son/ses type(s) et sa description)  #}
		<div class="pokedex-background">

			<div class="pokedex col-lg-10">

				{# Container des infos Pokémon (nom, nom-en et numéro Pokédex) ainsi que l'image GIF du pokémon  #}
				<div class="poke-info-pic container-fluid col-lg-4">

					<div
						class="row">

						{# Infos du nom, du nom-en et du numéro Pokémon  #}
						<div class="poke-info">

							<div class="info col-12 d-flex flex-row justify-content-center align-items-center">

								<div class="info-tile-1 col-4">

									<p>{{ currentPokemon.name|capitalize }}</p>

								</div>

								<div class="info-tile-2 col-4">

									<p>{{ currentPokemon.nameen|capitalize }}</p>

								</div>

								<div class="info-tile-3 col-4">

									<p>#{{ currentPokemon.pokeid }}</p>

								</div>

							</div>

						</div>

					</div>


					{# Image Pokémon  #}
					<div class="pokemon">

						<div class="pokepic col-12">

							<img class="poke-gif" src="{{ asset('images/gifs/' ~ currentPokemon.gif ) }}" alt="Pokémon">

						</div>

					</div>

				</div>


				{# Container du/des types, et de la description du Pokémon  #}
				<div class="poke-type-description container-fluid col-lg-4">

					<div
						class="row">

						{# h3 avec le titre "Type"  #}
						<div class="type-h3 col-12">

							<h3>Type(s)</h3>

						</div>

						{# Div qui contient les logos avec les types des Pokémon  #}
						<div class="type col-12 d-flex flex-row justify-content-evenly">


							{# Image du premier type Pokémon  #}

							{% if currentPokemon.type == 'combat' %}
        						<img class="type-img" src="/images/Types/Fighting.png" alt="Type">
							{% endif %}

    						{% if currentPokemon.type == 'dragon' %}
        						<img class="type-img" src="/images/Types/Dragon.png" alt="Type">
							{% endif %}

							{% if currentPokemon.type == 'eau' %}
        						<img class="type-img" src="/images/Types/Water.png" alt="Type">
							{% endif %}

							{% if currentPokemon.type == 'electrik' %}
        						<img class="type-img" src="/images/Types/Electric.png" alt="Type">
    						{% endif %}

							{% if currentPokemon.type == 'fée' %}
        						<img class="type-img" src="/images/Types/Fairy.png" alt="Type">
    						{% endif %}

							{% if currentPokemon.type == 'feu' %}
        						<img class="type-img" src="/images/Types/Fire.png" alt="Type">
    						{% endif %}

							{% if currentPokemon.type == 'glace' %}
        						<img class="type-img" src="/images/Types/Ice.png" alt="Type">
    						{% endif %}

							{% if currentPokemon.type == 'insecte' %}
        						<img class="type-img" src="/images/Types/Bug.png" alt="Type">
    						{% endif %}

							{% if currentPokemon.type == 'normal' %}
        						<img class="type-img" src="/images/Types/Normal.png" alt="Type">
    						{% endif %}

							{% if currentPokemon.type == 'plante' %}
        						<img class="type-img" src="/images/Types/Grass.png" alt="Type">
    						{% endif %}

							{% if currentPokemon.type == 'poison' %}
        						<img class="type-img" src="/images/Types/Poison.png" alt="Type">
    						{% endif %}

							{% if currentPokemon.type == 'psy' %}
        						<img class="type-img" src="/images/Types/Psychic.png" alt="Type">
    						{% endif %}

							{% if currentPokemon.type == 'roche' %}
        						<img class="type-img" src="/images/Types/Rock.png" alt="Type">
    						{% endif %}

							{% if currentPokemon.type == 'sol' %}
        						<img class="type-img" src="/images/Types/Ground.png" alt="Type">
    						{% endif %}

							{% if currentPokemon.type == 'spectre' %}
        						<img class="type-img" src="/images/Types/Ghost.png" alt="Type">
    						{% endif %}


							{# Image du deuxième type Pokémon  #}

							{% if currentPokemon.type2 == 'combat' %}
        						<img class="type-img" src="/images/Types/Fighting.png" alt="Type">
							{% endif %}

    						{% if currentPokemon.type2 == 'dragon' %}
        						<img class="type-img" src="/images/Types/Dragon.png" alt="Type">
							{% endif %}

							{% if currentPokemon.type2 == 'eau' %}
        						<img class="type-img" src="/images/Types/Water.png" alt="Type">
							{% endif %}

							{% if currentPokemon.type2 == 'electrik' %}
        						<img class="type-img" src="/images/Types/Electric.png" alt="Type">
    						{% endif %}

							{% if currentPokemon.type2 == 'fée' %}
        						<img class="type-img" src="/images/Types/Fairy.png" alt="Type">
    						{% endif %}

							{% if currentPokemon.type2 == 'feu' %}
        						<img class="type-img" src="/images/Types/Fire.png" alt="Type">
    						{% endif %}

							{% if currentPokemon.type2 == 'glace' %}
        						<img class="type-img" src="/images/Types/Ice.png" alt="Type">
    						{% endif %}

							{% if currentPokemon.type2 == 'insecte' %}
        						<img class="type-img" src="/images/Types/Bug.png" alt="Type">
    						{% endif %}

							{% if currentPokemon.type2 == 'normal' %}
        						<img class="type-img" src="/images/Types/Normal.png" alt="Type">
    						{% endif %}

							{% if currentPokemon.type2 == 'plante' %}
        						<img class="type-img" src="/images/Types/Grass.png" alt="Type">
    						{% endif %}

							{% if currentPokemon.type2 == 'poison' %}
        						<img class="type-img" src="/images/Types/Poison.png" alt="Type">
    						{% endif %}

							{% if currentPokemon.type2 == 'psy' %}
        						<img class="type-img" src="/images/Types/Psychic.png" alt="Type">
    						{% endif %}

							{% if currentPokemon.type2 == 'roche' %}
        						<img class="type-img" src="/images/Types/Rock.png" alt="Type">
    						{% endif %}

							{% if currentPokemon.type2 == 'sol' %}
        						<img class="type-img" src="/images/Types/Ground.png" alt="Type">
    						{% endif %}

							{% if currentPokemon.type2 == 'spectre' %}
        						<img class="type-img" src="/images/Types/Ghost.png" alt="Type">
    						{% endif %}


						</div>

						{# Div qui contient le contenu de la description du Pokémon  #}
						<div class="description col-12">

							<h3>Description</h3>

							<p>{{ currentPokemon.description }}</p>

						</div>

					</div>

				</div>

			</div>

			{# Div qui contient toute l'interface "gameboy" avec la croix et les boutons  #}
			<div
				class="col-lg-12 gameboy">

				{# Image de la croix directionnelle  #}
				<img
				class="col-lg-4" src="/images/Cross.png" alt="Croix de Gameboy">

				{# Div qui contient les boutons start et select du milieu (affichés uniquement en écran large)  #}
				<div class="start-select-buttons col-lg-4">

					<button class="start-select"></button>

					<button class="start-select"></button>

				</div>

				{# Div qui contient les boutons B et A comme sur gameboy  #}
				<div class="gameboy-buttons col-lg-4">

					<div class="gb-button-b">
						<p class="a-b">B</p>
					</div>

					<div class="gb-button-a">
						<p class="a-b">A</p>
					</div>

				</div>

			</div>

		</div>
	</div>

</div>

{% endblock %}


{% block js %}

	<script src="{{ asset('js/pokemon-list.js') }}"></script>
	
{% endblock %}






