{% extends 'base.html.twig' %}

{% block title %}Pokédex
{% endblock %}

{% block body %}

{# Container principal  #}
<div class="main-block">

	{# Container bouton précédent et suivant en mobile first, container de la liste en écran large  #}
	<div class="poke-list container-fluid col-lg-4">

		<div class="list row">


			{# Bouton "Pokémon précédent" visible seulement en mobile first  #}
			<button class="previous-next-buttons col-6">

				{% if pokemonBefore is not null %}

					<a href="{{ path('app_pokedex', { pokeId : (pokemonBefore.pokeId) }) }}">

						<p><i class="fa-solid fa-chevron-left"></i> {{ pokemonBefore.name|capitalize }} #{{ pokemonBefore.pokeId }}</p>

					</a>

				{% else %}

					<p><i class="fa-solid fa-chevron-left"></i></p>

				{% endif %}


			</button>

			{# Bouton "Pokémon suivant" visible seulement en mobile first  #}
			<button class="previous-next-buttons col-6">

				{% if pokemonAfter is not null %}

					<a href="{{ path('app_pokedex', { pokeId : (pokemonAfter.pokeId) }) }}">

						<p>{{ pokemonAfter.name|capitalize }} #{{ pokemonAfter.pokeId }} <i class="fa-solid fa-chevron-right"></i></p>

					</a>

				{% else %}

					<p><i class="fa-solid fa-chevron-right"></i></p>

				{% endif %}

			</button>




{#			#}{# Titre h1 seulement visible en écran large, au-dessus de la liste  #}
{#			<h1 class="consult">Consultez le Pokédex</h1>#}

			{# Boutons de flèche du haut, seulement visible en écran large  #}
			<button class="arrows col-6">

				{% if pokemonBefore is not null %}

					<a href="{{ path('app_pokedex', { pokeId : (pokemonBefore.pokeId) }) }}">

						<i class="fa-solid fa-chevron-up"></i>

					</a>

				{% else %}

					<a><i class="fa-solid fa-chevron-up disable-arrow"></i>

				{% endif %}

			</button>



			{# Div qui contient la liste des Pokémon  #}
			<div class="ul-list pokedex-nav">

				<ul class="col-12">


					{% for poke in pokemons %}

						{% if poke.captured %}
							<button class="poke-li captured col-12">
								<li>
									<a class="list-a col-12" href="{{ path('app_pokedex', { pokeId : (poke.pokeId) }) }}">
										{% if poke.rarity == 'SR' %}???
										{% else %}{{ poke.name|capitalize }}
											#{{ poke.pokeId }}
										{% endif %}</a>
								</li>
							</button>
						{% else %}
							<button disabled class="poke-li col-12 not-captured">
								<li>
								<a disabled="" class="list-a col-12" href="#/">???</a>
								</li>
							</button>

						{% endif %}

					{% endfor %}

{#					{% for poke in pokemons %}#}
{#						<button class="poke-button{% if poke.captured %} captured{% endif %}">#}
{#							{{ poke.pokeId }} - {{ poke.name }}#}
{#						</button>#}
{#					{% endfor %}#}


				</ul>

			</div>

			{# Bouton de flèche du bas, seulement visible en écran large  #}
			<button class="arrows col-6">

			{% if pokemonsCaptured %}

				{% if pokemonAfter is not null %}

					<a href="{{ path('app_pokedex', { pokeId : (pokemonAfter.pokeId) }) }}">

						<i class="fa-solid fa-chevron-down"></i>

					</a>

				{% else %}

					<a><i class="fa-solid fa-chevron-down disable-arrow"></i></a>

				{% endif %}
			{% endif %}

			</button>

		</div>

	</div>

	{# Div qui englobe toutes les infos du Pokédex (infos du pokémon, son image, son/ses type(s) et sa description)  #}


	<div class="pokedex-background col-12 col-lg-7">

		<div class="pokedex-style-buttons col-10">

			<div class="blue-button-second-border">

				<div class="blue-button">

					<div class="blue-button-reflect"></div>

				</div>

			</div>	


				<div class="mini-buttons">

					<div class="mini-button-second-border">

						<div class="mini-button-red">

							<div class="mini-button-reflect"></div>

						</div>

					</div>	

					<div class="mini-button-second-border">

						<div class="mini-button-yellow">

							<div class="mini-button-reflect"></div>

						</div>

					</div>

					<div class="mini-button-second-border">

						<div class="mini-button-green">

							<div class="mini-button-reflect"></div>

						</div>

					</div>	
				
				</div>
			
			</div>



		<div class="pokedex-pic-and-description col-lg-10">

			<div class="pokedex col-lg-12">

				{# Container des infos Pokémon (nom, nom-en et numéro Pokédex) ainsi que l'image GIF du pokémon  #}
				<div class="poke-info-pic d-flex flex-column justify-content-center align-items-center col-lg-12">

					<div
						class="row col-12">


						{# Infos du nom, du nom-en et du numéro Pokémon  #}
						<div class="poke-info d-flex flex-row justify-content-center align-items-center">

							<div class="info col-12 col-lg-10 d-flex flex-row justify-content-center align-items-center">

								<div class="info-tile-1 col-4">

									<p>{{ currentPokemon.name|capitalize }}</p>

								</div>

								<div class="info-tile-2 col-4">

									<p>{{ currentPokemon.nameen|capitalize }}</p>

								</div>

								<div class="info-tile-3 col-4">

									<p>{% if currentPokemon.rarity == 'SR'%}???{% else %}#{{ currentPokemon.pokeid }}{% endif %}</p>

								</div>

							</div>

						</div>

					</div>


					{# Image Pokémon  #}
					<div class="pokemon col-12 col-lg-10">

						

						<div class="column pokepic col-12 ">



								{% if currentPokemon.type == 'eau' or currentPokemon.type == 'vol' or currentPokemon.type == 'glace' or currentPokemon.type == 'dragon' %}
									<div class="eauvolglace"></div>
								{% endif %}

								{% if currentPokemon.type == 'combat' or currentPokemon.type == 'electrik' or currentPokemon.type == 'feu' %}
									<div class="combatelectrik"></div>
								{% endif %}

								{% if currentPokemon.type == 'plante' or currentPokemon.type == 'insecte' or currentPokemon.type == 'normal' %}
									<div class="planteinsecte"></div>
								{% endif %}

								{% if currentPokemon.type == 'roche' or currentPokemon.type == 'fée' or currentPokemon.type == 'sol' or currentPokemon.type == 'acier' %}
									<div class="rochefee"></div>
								{% endif %}

								{% if currentPokemon.type == 'psy' or currentPokemon.type == 'spectre' or currentPokemon.type == 'poison' or currentPokemon.type == 'ténèbres' %}
									<div class="psyspectre"></div>
								{% endif %}


								<img class="poke-gif" src="{{ asset('images/gifs/' ~ currentPokemon.gif ) }}" alt="Pokémon">

							<button class="shiny-button-mobile">

								<img src="{{ asset('images/sparkle/etoiles-shiny.png') }}" alt="shiny-logo">
							
							</button>

							<div class="overlay">

								<p>PAUSE</p>

							</div>

						</div>

					</div>

				</div>	

			</div>
			
		
			{# Container du/des types, et de la description du Pokémon  #}
			<div class="container-fluid digital col-12 col-lg-8">

				{# h3 avec le titre "Type"  #}
				<div class="row type-h3 col-12">

					<h3>Type(s)</h3>

				</div>

				{# Div qui contient les logos avec les types des Pokémon  #}
				<div class="row type col-12 d-flex flex-row justify-content-evenly">


					{# Image du premier type Pokémon  #}

					{% if currentPokemon.type == 'combat' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{asset('images/types/Fighting.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type == 'dragon' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Dragon.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type == 'eau' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Water.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type == 'electrik' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Electric.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type == 'fée' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Fairy.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type == 'feu' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Fire.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type == 'glace' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Ice.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type == 'insecte' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Bug.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type == 'normal' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Normal.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type == 'plante' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Grass.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type == 'poison' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Poison.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type == 'psy' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Psychic.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type == 'roche' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Rock.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type == 'sol' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Ground.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type == 'spectre' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Ghost.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type == 'acier' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Steel.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type == 'vol' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Flying.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type == 'ténèbres' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Dark.png') }}" alt="Type"></a>
					{% endif %}


					{# Image du deuxième type Pokémon  #}

					{% if currentPokemon.type2 == 'combat' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Fighting.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type2 == 'dragon' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Dragon.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type2 == 'eau' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Water.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type2 == 'electrik' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Electric.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type2 == 'fée' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Fairy.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type2 == 'feu' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Fire.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type2 == 'glace' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Ice.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type2 == 'insecte' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Bug.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type2 == 'normal' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Normal.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type2 == 'plante' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Grass.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type2 == 'poison' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Poison.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type2 == 'psy' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Psychic.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type2 == 'roche' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Rock.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type2 == 'sol' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Ground.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type2 == 'spectre' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Ghost.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type2 == 'acier' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Steel.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type2 == 'vol' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Flying.png') }}" alt="Type"></a>
					{% endif %}

					{% if currentPokemon.type2 == 'ténèbres' %}
						<a href="{{ path('app_types') }}" class="type-img-a"><img class="type-img" src="{{ asset('images/types/Dark.png') }}" alt="Type"></a>
					{% endif %}
					


				</div>

				{# Div qui contient le contenu de la description du Pokémon  #}
				<div class="row description col-12">

					<h3>Description</h3>

					<p>{{ currentPokemon.description }}</p>

				</div>

			</div>

		</div>




		{# Div qui contient toute l'interface "gameboy" avec la croix et les boutons  #}
		<div class="col-lg-12 gameboy">

			{# Image de la croix directionnelle  #}
			<img class="col-lg-4" src="{{ asset('images/Cross.png') }}" alt="Croix de Gameboy">

			{# Div qui contient les boutons start et select du milieu (affichés uniquement en écran large)  #}
			<div class="start-select-buttons col-lg-4">

				<button class="select"></button>

				<button class="start"></button>

			</div>

			{# Div qui contient les boutons B et A comme sur gameboy  #}
			<div class="gameboy-buttons col-lg-4">

				<button class="gb-button-b">
					<p class="a-b">B</p>
				</button>

				<button class="gb-button-a">
					<p class="a-b">A</p>
				</button>

			</div>

		</div>

	</div>

</div>



{% endblock %}


{% block js %}

	<script>const pokeShineDir = '{{ asset('images/gifs/' ~ 'shiny-' ~ currentPokemon.gif ) }}'</script>
	<script src="{{ asset('js/pokedex.js') }}"></script>
	
{% endblock %}






