{% extends 'base.html.twig' %}

{% block title %}Profil de {# {{ user.username }} #}{% endblock %}

{% block body %}

{# Container du profil  #}
<div class="container mt-5">

    <div class="row">

        <div class="col-md-4">

            <img src="{# {{ user.getProfileImage() }} #}" class="img-thumbnail">

        </div>

<div class="card mt-3">

{# Encadré des statistiques  #}
<div class="card-body">

    <h5 class="card-title">Nombre de Pokémon détenus</h5>

        <h6 class="card-title">Pokémon attrapés :</h6>

            <p class="card-text">{# {{ user.pokemons|length }} #}</p>

        <h6 class="card-title">Shiny attrapés :</h6>

            <p class="card-text">{# {{ user.shiny|length }} #}</p>

        <h6 class="card-title">Total Pokédex :</h6>

            <p class="card-text">{# {{ user.pokemons|length }} #}/151</p>

</div>

{# Bouton Modifier le Profil  #}
</div>

        <div class="col-md-8 text-center">

            {# <h1>{{ user.username }}</h1> #}

            {# <p>{{ user.email }}</p> #}

            <a href="" class="btn btn-primary">Modifier le profil</a>

        </div>

    </div>

</div>
{% endblock %}
