{# Utilisation du squelette de page base.html.twig #}
{% extends "base.html.twig" %}

{# Titre de la page #}
{% block title %}Gestion du profil
{% endblock %}

{# Contenu de la page #}
{% block body %}

	<div class="background">

		{# statistique #}
		<div class="container-fluid stats fade-up col-12 col-lg-8">

			<h1 class="profil-title col-12 text-center my-5">Mon profil</h1>

			<div class="col-12 col-lg-12 stats-block">

				<div class="left-block col-12 col-lg-4">

					<h2 class="stats-title">Statistiques</h2>

					{# Block de gauche, Infos de l'utilisateur #}
					<ul class="list-group col-12 col-lg-12 " id="utilisateur">
						<li class="list-group-item">Pseudo
						<span class="text-info">{{ app.user.pseudonym }}</span>
						</li>

						<li class="list-group-item ">Pokémons libérés :
							<span class="text-info">{{ nbPokemon }}</span>

						</li>
						<li class="list-group-item ">Shiny obtenus :
							<span class="text-info">{{ nbShiny }}</span>
						</li>
						<li class="list-group-item ">Pokédex rempli à  {{ nbPokemonUnique }}/{{ pokedexSize }}
							<span class="text-info"></span>
						</li>
					</ul>
				</div>

				<img class="trainer-gif" src="{{ asset('images/trainer.gif') }}" alt="pokemon-trainer">

				<div class="right-block col-12 col-lg-4">

					<h2 class="informations-account-title">Informations du compte</h2>

					{# Block de droite, Infos du compte #}
					<ul class="list-group col-12 col-lg-12" id="compte">

						<li class="list-group-item ">Adresse E-mail :
							<span class="text-info">{{ app.user.email }}</span>
						</li>
						<li class="list-group-item ">Début de l'aventure :
							<span class="text-info">{{ app.user.creationDate|date('d/m/Y')}}</span>
						</li>


						<li class="list-group-item ">
							Compte :
							<span class="text-info">{{ is_granted('ROLE_ADMIN') ? 'Administrateur' : 'Utilisateur' }}</span>
						</li>
					</ul>

					<div class="modify-info">
						{# NE PAS OUBLIER DE CREER LE LIEN QUI REDIRIGE VERS LA PAGE DE MODIFICATION #}
						<button class="modify-button">

							<div class="second-border-modify">

								<a href="{{ path('app_modify') }}" class="modify-button-link"><img src="{{ asset('images/PokeBall.png') }}" alt="Poke Ball" width="50px">Modifier

									<i class="fa-solid fa-chevron-right"></i>

								</a>

							</div>

						</button>
					</div>
				</div>
			</div>



			{# Tableau des 10 meilleurs pokédex #}
			<div class="left-block col-10 top-10-pokedex-box">

				<table class="table-pokedex">
					<h2 class="stats-title">Les 10 meilleurs Pokédex!</h2>
					<thead class="thead-top10">
						<tr>
							<th class="text-center" scope="col">N°</th>
							<th class="text-center" scope="col">Pseudo</th>
							<th class="text-center" scope="col">Complétion du Pokédex</th>
							<th class="text-center" scope="col">Total de pokéballs ouvertes</th>
						</tr>
					</thead>
					<tbody>
					{% for userData in topUserSpeciesSeen %}

						<tr class="pokedex-top-10">
							{% set num = num + 1 %}
	        				<td class="text-center">{{ num }}</td>
							<td class="text-center">{{ userData.0.pseudonym }} </td>
							<td class="text-center">{{ userData.total_species_seen }}/{{ pokedexSize }}</td>
							<td class="text-center">{{ userData.total_captured }} </td>
						</tr>
					{% endfor %}

					</tbody>
				</table>

			</div>

		</div>

	</div>

{# Fermeture langague twig #}{% endblock %}
